*.egg-info/
*.py[cod]
._*
.coverage
.DS_Store
.mypy_cache/
.pytest_cache/
.ruff_cache/
__pycache__/
/artifacts/
/build/
/checkpoints/
/data/
/datasets/
/dist/
/eval_results/
/logs/
/outputs/
/wandb/
/.venv/

